body{
    height: 100vh;
    width: 100vw;
}
.container{
  height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header,.enter,.shorty{
    width: 50vw;
}

.header{
    text-align: center;
}
.enter{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
 .vis{
  display: flex;
 }
.shorty{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }